* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.option-container {
  height: 4rem;
  width: 3.5rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: #f1f2f6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tools-container {
  display: flex;
  height: 5rem;
  width: 55vw;
  background-color: #f1f2f6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: space-around;
  position: absolute;
  top: 2rem;
  left: 25vw;
}

.scale-tools {
  animation-name: scale-tools;
  animation-duration: 1s;
}

@keyframes scale-tools {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

.tools-container > * {
  display: block;
  width: 4rem;
}

.pencil-tool-container {
  position: absolute;
  display: none;
  top: 7rem;
  left: 25vw;
  height: 5rem;
  width: 7rem;
  background-color: #f1f2f6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3px;
}

.pencil-width-container {
  height: 2rem;
  background-color: #f1f2f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pencil-width-container input {
  width: 80%;
}
.pencil-color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 2rem);
  gap: 1rem;
}

.pencil-color {
  height: 2rem;
  width: 1.5rem;
  border-radius: 50%;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.eraser-tool-container {
  height: 2rem;
  width: 7rem;
  background-color: #f1f2f6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7rem;
  left: 33vw;
}
.eraser-tool-container input {
  width: 80%;
}

.sticky-container {
  height: 15rem;
  width: 15rem;
  position: absolute;
  top: 15rem;
  left: 10rem;
}

.header-container {
  height: 2rem;
  background-color: #f1f2f6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-container > * {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.note-container {
  height: calc(100% - 2rem);

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.minimize {
  background-color: #2ed573;
}

.remove {
  background-color: #ff4757;
}

textarea {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
}
